.time-lattice-wrapper {
  width: 576px;
  overflow: hidden;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
.warpper-date{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time-lattice-day-wrapper {
  display: inline-block;
  width: 55px;
  font-size: 14px;
  color: #2f2f2f;
  user-select: none;
  position: relative;
  padding-top: 24px;
}

.time-lattice-wrapper:after {
  width: 2px;
  height: 2px;
  background: #fff;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 9001;
}

.time-lattice-item {
  box-sizing: border-box;
  width: 24px;
  display: inline-block;
  border-top: 1px solid rgba(240, 241, 245, 1);
  border-left: 1px solid rgba(240, 241, 245, 1);
  height: 24px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #6f7b85;
  user-select: none;
}
.time-lattice-date {
  box-sizing: border-box;
  width: 12px;
  display: inline-block;
  border-top: 1px solid rgba(240, 241, 245, 1);
  border-left: 1px solid rgba(240, 241, 245, 1);
  height: 24px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #6f7b85;
  user-select: none;
}
.date-time-list{
  display: flex;
  flex-direction: column;
}

.time-lattice-date.selected {
  background: #00a5aa;
  color: white;
  border-color: #00a5aa;
  border: 1px solid rgba(240, 241, 245, 1);
}
.time-lattice-date:hover {
  background: #ebebeb;
  color: white;
  border-color: #ebebeb;
  border: 1px solid rgba(240, 241, 245, 1);
}
.time-lattice-date:nth-child(n + 289) {
  border-bottom: 1px solid rgba(240, 241, 245, 1);
}
.time-lattice-item:nth-child(n + 175) {
  border-bottom: 1px solid rgba(240, 241, 245, 1);
}

.time-lattice-item.selected {
  background: #00a5aa;
  color: white;
  border-color: #00a5aa;
}

.time-lattice-item.selecting {
  background: rgba(246, 245, 255, 1);
  color: white;
  border-color: rgba(246, 245, 255, 1);
}

.time-lattice-button-wrapper {
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
}
.time-lattice-button {
  float: right;
}
.time-lattice-tips {
  font-size: 14px;
  color: #6f7b85;
}

.time-lattice-button .text {
  border: none;
  background: transparent;
  color: #00a5aa;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}

.selectable-selectbox {
  z-index: 9000;
  position: absolute;
  cursor: default;
  background: none;
  border: 1px dashed grey;
}

.time-lattice-day {
  height: 24px;
  line-height: 24px;
}

.time-lattice-time {
  display: inline-block;
  width: 60px;
}

.time-lattice-ex {
  font-size: 14px;
  color: #2f2f2f;
  margin: 0;
  margin-top: 10px;
  line-height: 1.5;
  max-width: 643px;
  padding-right:10px ;
}

.time-lattice-container {
  padding: 0 0 10px 10px;
  border: 1px solid rgba(240, 241, 245, 1);
  display: inline-block;
  max-width: 643px;
}

.time-lattice-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time-date-title-name{
  font-size: 12px;
  color: #2f2f2f;
  padding-right: 8px;
}

.time-lattice-title {
  font-size: 14px;
  color: #2f2f2f;
  text-align: center;
  flex: 0 0 45%;
  padding: 10px 1px;
  border-right: 1px solid rgba(240, 241, 245, 1);
}
.time-lattice-title:last-child{
  border-right: none
}